.info-page {
  background-color: #6ac697;
  background-image: url("./assets/david-emrich-dJcDUnby4n4-unsplash(small).jpg");
}

.about-page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.about-container {
  justify-content: center;
}

.to-niwa {
  margin: auto;
}
