.info-page {
  background-color: #6ac697;
}

.about-page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.to-my-niwa {
  margin: auto;
  margin-bottom: 2rem;
}
