.info-page {
  background-color: #6ac697;
}

.about-page {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.about-container {
  justify-content: center;
}

.info-container {
  padding: 2rem;
}
