.splash-page {
  height: 100vh;
  text-align: center;
  background-color: #6ac697;
}

.ni-wa-container {
  height: 100%;
  max-width: 480px;
  padding: 0 0 40px;
  margin: 0 auto;
}

.ni-wa-character {
  width: 375px;
  margin: auto;
}

.ni-wa {
  font-size: 5rem;
  color: #172f4a;
  margin: 0;
}

.ni-wa-definition {
  margin-left: 0%;
  color: #172f4a;
}
