.gardenViewContainer {
  width: 100%;
}

.rulesContainer {
  margin: 5% 0;
  background-color: white;
  border-radius: 20px;
}

.heading {
  height: 40px;
}

.subtitle {
  margin: 0.125rem 0;
}

.switchWrapper {
  display: flex;
  align-items: center;
}

.switchWrapper > p {
  margin: 0;
}

.wateringAnimation {
  width: 70%;
  border-radius: 4px;
}

.wateringAnimationContainer {
  display: flex;
  justify-content: center;
}

.taskButtonContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.ruleDescription {
  text-align: center;
}

.returnButtonWrapper {
  text-align: center;
  margin-top: 25px;
}
