.sunflower-logo {
  width: 75%;
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.MuiMenu-list > .menu-link {
  color: #ff7f27d9;
  font-weight: bold;
}

.italic {
  font-style: italic;
  text-transform: lowercase;
}
