.my-niwa-logo {
  width: 85%;
  max-width: 650px;
  margin-right: 3%;
}

.header-container {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 3%;
}

.MuiMenu-list > .menu-link {
  color: #000000d9;
  font-weight: bold;
}

.italic {
  font-style: italic;
  text-transform: lowercase;
}
