.new-garden-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-garden-container > h2 {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-size: 2.3rem;
  text-align: center;
}

.new-garden-container > label > p {
  margin: 2rem 0 0;
  color: #ff7f27d9;
  font-size: 1.5rem;
}

.new-garden-container > p {
  align-self: flex-start;
  margin: 0.25rem 0 0.25rem 2rem;
  font-weight: bold;
}

input {
  width: 80%;
  height: 2rem;
  border-radius: 20px;
  border: none;
  padding-left: 1rem;
  color: #ff7f27d9;
  font-size: 1.5rem;
  font-weight: bold;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

label {
  align-self: flex-start;
  font-weight: bold;
  margin: 0 2rem;
}
