.myCollectionPage {
  margin: 0 auto;
  min-height: 10vh;
  display: flex;
}

.collection-box {
  background-image: url("./assets/croppedbg.jpg");
  background-size: contain;
  height: 592px;
  min-width: 3200px;
  position: relative;
  overflow: hidden;
}

.background-image {
  margin: auto;
}

.flower-image {
  height: 150px;
  position: absolute;
  left: 50;
  top: 380px;
  z-index: 1;
}

.foreground-grass {
  z-index: 10;
  background-image: url("./assets/tallgrass.png");
  position: absolute;
  top: 462px;
  height: 128px;
  width: 3200px;
}

.flower-animation {
  -webkit-animation-name: wind;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: flower-wind;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes flower-wind {
  0%,
  100% {
    -webkit-transform: skewX(3deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: skewX(-3deg);
    opacity: 0.8;
  }
  75% {
    transform: skewX(1deg);
    opacity: 0.8;
  }
  85% {
    -webkit-transform: skewX(0deg);
    opacity: 0.8;
  }
}
@keyframes flower-wind {
  0%,
  100% {
    transform: skewX(3deg);
    opacity: 1;
  }
  50% {
    transform: skewX(-3deg);
    opacity: 0.8;
  }
  75% {
    transform: skewX(1deg);
    opacity: 0.8;
  }
  85% {
    transform: skewX(0deg);
    opacity: 0.8;
  }
}

.grass-animation {
  -webkit-animation-name: wind;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: wind;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes wind {
  0%,
  100% {
    -webkit-transform: skewX(0deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: skewX(5deg);
    opacity: 0.8;
  }
  30% {
    -webkit-transform: skewX(4deg);
    opacity: 0.8;
  }
  35% {
    -webkit-transform: skewX(5deg);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: skewX(-5deg);
    opacity: 0.8;
  }
}
@keyframes wind {
  0%,
  100% {
    transform: skewX(0deg);
    opacity: 1;
  }
  20% {
    transform: skewX(5deg);
    opacity: 0.8;
  }
  30% {
    -webkit-transform: skewX(4deg);
    opacity: 0.8;
  }
  35% {
    -webkit-transform: skewX(5deg);
    opacity: 0.8;
  }
  75% {
    transform: skewX(-5deg);
    opacity: 0.8;
  }
}

.bird {
  background-image: url("./assets/bird-cells.svg");
  background-size: auto 100%;
  width: 88px;
  height: 125px;
  will-change: background-position;
  -webkit-animation-name: fly-cycle;
  animation-name: fly-cycle;
  -webkit-animation-timing-function: steps(10);
  animation-timing-function: steps(10);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bird--one {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.bird--two {
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-animation-delay: -0.75s;
  animation-delay: -0.75s;
}
.bird--three {
  -webkit-animation-duration: 1.25s;
  animation-duration: 1.25s;
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
}
.bird--four {
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.bird-container {
  position: absolute;
  top: 10%;
  left: -10%;
  -webkit-transform: scale(0) translateX(-10vw);
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  -webkit-animation-name: fly-right;
  animation-name: fly-right;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bird-container--one {
  -webkit-animation-duration: 30s;
  animation-duration: 50s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.bird-container--two {
  -webkit-animation-duration: 35s;
  animation-duration: 55s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.bird-container--three {
  -webkit-animation-duration: 28s;
  animation-duration: 58s;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}
.bird-container--four {
  -webkit-animation-duration: 32s;
  animation-duration: 52s;
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

@-webkit-keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}

@-webkit-keyframes fly-right {
  0% {
    -webkit-transform: translateY(-2vh) translateX(-100px) scale(0.5);
    transform: translateY(-2vh) translateX(-100px) scale(0.5);
  }
  10% {
    -webkit-transform: translateY(0vh) translateX(300px) scale(0.4);
    transform: translateY(0vh) translateX(300px) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(-4vh) translateX(700px) scale(0.6);
    transform: translateY(-4vh) translateX(700px) scale(0.6);
  }
  30% {
    -webkit-transform: translateY(1vh) translateX(1100px) scale(0.45);
    transform: translateY(1vh) translateX(1100px) scale(0.45);
  }
  40% {
    -webkit-transform: translateY(-2.5vh) translateX(1500px) scale(0.5);
    transform: translateY(-2.5vh) translateX(1500px) scale(0.5);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(1900px) scale(0.45);
    transform: translateY(0vh) translateX(1900px) scale(0.45);
  }
  60% {
    -webkit-transform: translateY(2vh) translateX(2300px) scale(0.45);
    transform: translateY(2vh) translateX(2300px) scale(0.45);
  }
  70% {
    -webkit-transform: translateY(0vh) translateX(2700px) scale(0.3);
    transform: translateY(0vh) translateX(2700px) scale(0.3);
  }
  80% {
    -webkit-transform: translateY(-1vh) translateX(3000px) scale(0.3);
    transform: translateY(-1vh) translateX(3000px) scale(0.3);
  }
  90% {
    -webkit-transform: translateY(0vh) translateX(3200px) scale(0.25);
    transform: translateY(0vh) translateX(3200px) scale(0.25);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(3400px) scale(0.1);
    transform: translateY(0vh) translateX(3400px) scale(0.1);
  }
}
@keyframes fly-right {
  0% {
    -webkit-transform: translateY(-2vh) translateX(-100px) scale(0.5);
    transform: translateY(-2vh) translateX(-100px) scale(0.5);
  }
  10% {
    -webkit-transform: translateY(0vh) translateX(300px) scale(0.4);
    transform: translateY(0vh) translateX(300px) scale(0.4);
  }
  20% {
    -webkit-transform: translateY(-4vh) translateX(700px) scale(0.6);
    transform: translateY(-4vh) translateX(700px) scale(0.6);
  }
  30% {
    -webkit-transform: translateY(1vh) translateX(1100px) scale(0.45);
    transform: translateY(1vh) translateX(1100px) scale(0.45);
  }
  40% {
    -webkit-transform: translateY(-2.5vh) translateX(1500px) scale(0.5);
    transform: translateY(-2.5vh) translateX(1500px) scale(0.5);
  }
  50% {
    -webkit-transform: translateY(0vh) translateX(1900px) scale(0.45);
    transform: translateY(0vh) translateX(1900px) scale(0.45);
  }
  60% {
    -webkit-transform: translateY(2vh) translateX(2300px) scale(0.45);
    transform: translateY(2vh) translateX(2300px) scale(0.45);
  }
  70% {
    -webkit-transform: translateY(0vh) translateX(2700px) scale(0.3);
    transform: translateY(0vh) translateX(2700px) scale(0.3);
  }
  80% {
    -webkit-transform: translateY(-1vh) translateX(3000px) scale(0.3);
    transform: translateY(-1vh) translateX(3000px) scale(0.3);
  }
  90% {
    -webkit-transform: translateY(0vh) translateX(3200px) scale(0.25);
    transform: translateY(0vh) translateX(3200px) scale(0.25);
  }
  100% {
    -webkit-transform: translateY(0vh) translateX(3400px) scale(0.1);
    transform: translateY(0vh) translateX(3400px) scale(0.1);
  }
}
