.myCollectionPage {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  display: flex;
}

.background-image {
  margin: auto;
}

.flower-image1 {
  height: 200px;
  position: relative;
  left: -500px;
  top: -60px;
  z-index: 1;
}

.flower-image2 {
  height: 200px;
  position: relative;
  left: -55 0px;
  top: -60px;
  z-index: 1;
}

.foreground-grass {
  z-index: 10;
  position: relative;
  top: -140px;
  width: 1055px;
}

.flower-animation {
  -webkit-animation-name: wind;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-name: wind;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes wind {
  0%,
  100% {
    -webkit-transform: skewX(0deg);
    opacity: 1;
  }
  10% {
    -webkit-transform: skewX(5deg);
    opacity: 0.8;
  }
  75% {
    -webkit-transform: skewX(-5deg);
    opacity: 0.8;
  }
}
@keyframes wind {
  0%,
  100% {
    transform: skewX(0deg);
    opacity: 1;
  }
  10% {
    transform: skewX(5deg);
    opacity: 0.8;
  }
  75% {
    transform: skewX(-5deg);
    opacity: 0.8;
  }
}
