.my-gardens-container {
  padding: 0 10%;
  line-height: 1.6rem;
}

.gardens-view {
  border-radius: 10px;
  background: rgb(124, 197, 124);
  justify-content: center;
  padding: 5%;
}

.garden-card {
  margin: auto;
  margin-top: 2%;
}
