.garden-view-container {
  background-color: rgb(124, 197, 124);
  padding: 3%;
  line-height: 1.6rem;
  justify-content: center;
  width: 92%;
  margin: auto;
  border-radius: 20px;
}

.garden-parent-container {
  padding: 0 10%;
  line-height: 1.6rem;
}

.garden-container {
  min-height: 100px;
  min-width: 100px;
  margin: auto;
  border: 4px white solid;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 20px;
}
.rules-container {
  padding: 5%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

.centered {
  padding: 2rem;
  margin: auto;
}
