.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper > h1 {
  width: 90%;
  margin: 0 auto 15px;
  font-size: 1.8em;
}
